name: Build Assistant Image

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v4

    - name: Log in to GitHub Container Registry
      run: echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin


    - name: Build and Push Docker Image
      run: |
        IMAGE_NAME=ghcr.io/${{ ORG_NAME }}/${{ github.event.repository.name }}
        docker build . \
        --file Dockerfile \
        --tag $IMAGE_NAME 
        docker push $IMAGE_NAME